<div class="comvis">
   <div class="container">
      <div class="main_screen">
         <div class="menu">
            <div class="param">
               <span class="param_txt">Параметры</span>
               <div class="optional">
                  <div class="setter">
                     <img src="../../../assets/img/gender.png" alt="" class="gender_img">
                     <p class="gender_txt">Линия</p>
                  </div>

                  <label class="checkbox-ios">
                     <input type="checkbox">
                     <span class="checkbox-ios-switch"></span>
                  </label>
               </div>

               <div class="optional">
                  <div class="setter">
                     <img src="../../../assets/img/age.png" alt="" class="gender_img">
                     <p class="gender_txt">Задымления</p>
                  </div>

                  <label class="checkbox-ios">
                     <input type="checkbox">
                     <span class="checkbox-ios-switch"></span>
                  </label>
               </div>

               <div class="optional">
                  <div class="setter">
                     <img src="../../../assets/img/emoji.png" alt="" class="gender_img">
                     <p class="gender_txt">Опасные зоны</p>
                  </div>

                  <label class="checkbox-ios">

                     <input type="checkbox">
                     <span class="checkbox-ios-switch"></span>
                  </label>
               </div>

            </div>

            <div class="statistic">
               <span class="param_txt">Статистика</span>
               <div class="setter setter_">
                  <img src="../../../assets/img/static.png" alt="" class="gender_img">
                  <p class="gender_txt">за день</p>
               </div>

               <div class="setter setter_">
                  <img src="../../../assets/img/static.png" alt="" class="gender_img">
                  <p class="gender_txt">за неделю</p>
               </div>

               <div class="setter setter_">
                  <img src="../../../assets/img/static.png" alt="" class="gender_img">
                  <p class="gender_txt">за месяц</p>
               </div>
            </div>
         </div>

         <div class="webcam_static">
            <div class="broadcast">
              <app-objectdetection></app-objectdetection>
            </div>

            <div class="main_info">
               <div class="values param">
                  <span class="param_txt">Значения</span>
                  <div class="info">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia quaerat quos voluptate, vero
                     ea placeat assumenda esse itaque ut ducimus
                     nisi harum eum sequi nam saepe consectetur, obcaecati optio?
                  </div>
               </div>
               <div class="statistic_info param">
                  <span class="param_txt">Статистика</span>
                  <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facilis magnam
                     praesentium neque facere voluptate consequuntur atque amet inventore
                     placeat animi quas cum at numquam mollitia quod, quia alias maiores!</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
