<div class="equipment">
   <h3 class="equipment__title">Распределение задач</h3>

   <div class="equipment__table">
      <div class="equipment__table-row" *ngFor="let equip of equipments; index as i">
         <div *ngIf="!equip.change" class="equipment__table-item">{{equip.worker}}</div>
         <input *ngIf="equip.change" type="text" class="equipment__table-edi--input" [(ngModel)]="equip.worker">

         <div *ngIf="!equip.change" class="equipment__table-item">{{equip.name}}</div>
         <input *ngIf="equip.change" type="text" class="equipment__table-edi--input" [(ngModel)]="equip.name">

         <div *ngIf="!equip.change" class="equipment__table-item">{{equip.date}}</div>
         <input *ngIf="equip.change" type="text" class="equipment__table-edi--input" [(ngModel)]="equip.date">

         <div class="equipment__table-item">
            <p class="equipment__table-state" (click)="cangeStat(equip)">
               {{equip.state}}
            </p>
         </div>
         <div class="equipment__table-item">
            <button class="equipment__table-btn equipment__table-btn--save" *ngIf="equip.change">
               <img src="../../../../assets/img/save.png" alt="" class="equipment__table-btn--img">
            </button>
            <button class="equipment__table-btn equipment__table-btn--edit" (click)="onEditClick(equip)">
               <img src="../../../../assets/img/edit.png" alt="" class="equipment__table-btn--img">
            </button>
            <button class="equipment__table-btn equipment__table-btn--remove" (click)="onRemoveClick(equip)">
               <img src="../../../../assets/img/remove.png" alt="" class="equipment__table-btn--img">
            </button>
         </div>
      </div>
      <div *ngIf="true" class="equipment__table-add">
         <select ngModel (ngModelChange)="mySelectHandler1($event)" class="equipment__add-item equipment__add-select">
            // value is an object
            <option value="Фамилия" selected></option>
            <option *ngFor="let obj of pipls.items" [ngValue]="obj">{{obj.fname}}</option>
         </select>

         <select ngModel (ngModelChange)="mySelectHandler2($event)" class="equipment__add-item equipment__add-select">
            // value is an object
            <option value="Имя" selected></option>
            <option *ngFor="let obj of techs.items" [ngValue]="obj">{{obj.name}}</option>
         </select>

         <textarea type="name" class="input_form equipment__add-item equipment__add-textarea" name="auth_name"
            placeholder="Опишите задачу" required [(ngModel)]="text"></textarea>
         <div class="equipment__add-item equipment__table-item">
            <p class="equipment__table-state" (click)="addTask()">
               Добавить
            </p>
         </div>
      </div>
   </div>
</div>