.members {
   width: 100%;
   background: rgba(87, 71, 125, 0.28);
   padding: 15px 20px;
   height: 100%;
}

.members__title {
   font-size: 32px;
   line-height: 38px;
   letter-spacing: 1px;
   margin-bottom: 20px;
}

.members__list {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.members__list-item {
   display: flex;
   align-items: center;
   padding: 10px 0;
   & + .members__list-item {
      border-top: 1px solid #2d2442;
   }
}

.members__list-img {
   max-width: 40px;
   margin-right: 20px;
}

.members__list-info {
   display: flex;
   flex-direction: column;
}

.members__list-name,
.members__list-post {
   font-size: 15px;
   line-height: 18px;
   font-weight: bold;
}

.members__list-name {
   margin-bottom: 10px;
}
