.completed {
   width: 100%;
   background: rgba(87, 71, 125, 0.28);
   padding: 15px 25px;
   height: 100%;
}

.completed__title {
   font-size: 30px;
   line-height: 38px;
   letter-spacing: 1px;
   margin-bottom: 20px;
}
